*{
    padding: 0;
    margin: 0;
}
.cor-frio-sul {
    background-color: #5eb5e0;
}
.cor-frio-norte {
    background-color: #718C00;
}
.cor-frio-leste {
    background-color: #8959A8;
}
.cor-frio-oeste {
    background-color: #916319;
}
.cor-quente-sul {
    background-color: #868686;
}
.cor-quente-norte {
    background-color: #AA3333;
}
.cor-quente-leste {
    background-color: #ffcc00;
}
.cor-quente-oeste {
    background-color: #D3D3D3;
}
.cor-9 {
    background-color: blue;
}
.cor-10 {
    background-color: aquamarine;
}
.pedidos {
    margin: 0;
    width: 40%;
    float:left;
    font: 18px/1.5 sans-serif;
    padding: 0 5%;
}

.pedidos code {
    background: #F5F5F5;
    padding: 2px 6px;
}

.pedidos ul {
    list-style: none;
}

.pedidos h2{

}